<div ng-app="app">
  {{ 1 + 1 }}
</div>


<h1>What You Should Pack</h1>
{
column-count: 3;
}

<% @persons.each do |person| %>
  <h2><%= person.name %></h2>

<h3>Essentials</h3>
<ul>
  <ng-click="deleteEssential">
  <% @essentials[person.id].each do |garment|%>
      <li><%= garment.name %> </li>
  <% end %>
</ul>


<ul>
  <% @outfits[person.id].each do |outfit|%>
  <h3><%= outfit.name %></h3>
     <% outfit.garments.each do |garment| %>
      <li><%= garment.name %> </li>
      <% end %>
  <% end %>
</ul>


<% end %>

<%= link_to "Home", "/persons" %>