<h1>Your Trips</h1>

<% if creator_signed_in? && @trips != 0 %>

  <% @this_trip.each do |trip| %>
    <h4><a href="/trips/<%= trip.id %>"><%= trip.city %></a></h4>
    <h5> Start Date: <%= trip.start_date.strftime("%B %e, %Y") %></h5>
    <h5> End Date: <%= trip.end_date.strftime("%B %e, %Y") %></h5>
    <h5><a href="/trips/<%= trip.id %>/clothing_selections">Go To This Trip</a></h5>
    <br>
  <% end %>

<% else %>

<h3><%= No trips so far! Try adding one below! %></h3>

<% end %>
