<div id="main-wrapper">
<div id="margin"> 

  <div id="left-side">
    <h2>Your Trip</h2>

      <h3> <%= @trip.city %>, <%= @trip.state %></h3>
      
      <h4> Start Date: <%= @trip.start_date.strftime("%B %e, %Y") %></h4>
      <h4> End Date: <%= @trip.end_date.strftime("%B %e, %Y")%></h4>

    
    <h3><a href="/trips/<%= @trip.id %>/edit">Edit Trip</a></h3>
    <h3><%= link_to "Delete", "/trips/#{@trip.id}", method: :delete, data:{confirm: "Are You Sure?"} %></h3>
  </div>

  <div id="right-side">
    <h2>Going With You</h2>

      <% @trip.persons.each do |person| %>
        <h4><a href="/persons/<%= person.id %>"><%= person.name %></h4>
        <br>
      <%end%>

      <h3><a href="/trips/<%= @trip.id %>/persons/new">Add A Trip Mate
    </a></h3>
  </div>

     <h3><a href="/trips/<%= @trip.id %>/situations">What Are Your Plans?</a></h3>

     </div>

</div>
