<h3>What Special Plans Do You Have?</h3>


  <head>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding: 5px;
      }
    </style>
  </head>


    <%= form_tag("/clothing_selections?event_id=3", method: "get") do %>

      <table >
          <tr>
            <th>Trip Mates</th>

            <th><%= label_tag(:nice_dinner, "Going out to a nice dinner") %></th>

            <th><%= label_tag(:wedding, "Wedding") %></th>
            
            <th><%= label_tag(:beach, "Going to the beach") %></th>
            
            <th><%= label_tag(:business_trip, "It's a business trip") %></th>

            <th><%= label_tag(:sight_seeing, "Sight Seeing") %></th>      

            <th><%= label_tag(:relax, "Relaxing") %></th>     

            <th><%= label_tag(:hiking, "Hiking") %></th>      

            <th><%= label_tag(:line_dancing, "Line Dancing") %></th>

          </tr>
        <!-- </div> -->

          <tr>
            <% @tripmates.each do |person| %>

            <td><%= person.name %></td>
            <td><input type='checkbox' ng-model = 'nice_dinner, 1' ></td>
            <td><%= check_box_tag(:wedding, 2) %></td>
            <td><%= check_box_tag(:beach, 3) %></td>
            <td><%= check_box_tag(:business_trip, 4) %></td>
            <td><%= check_box_tag(:sight_seeing, 5) %></td>
            <td><%= check_box_tag(:relax, 6) %></td>
            <td><%= check_box_tag(:hiking, 7) %></td>
            <td><%= check_box_tag(:line_dancing, 8) %></td>
          </tr>
          <br>
        <% end %>
      </table>

      
      <div>
        <%= submit_tag "What Should I Pack" %>
      </div>
      <%= hidden_field_tag(:length, @length) %>

    <% end %>

  <%= link_to "Home", "/persons" %>
