<h1>What Special Plans Do You Have?</h1>

<div class = "column">

<%= check_box_tag(:wedding) %>
<%= label_tag(:wedding, "Wedding") %>

<%= check_box_tag(:business_trip) %>
<%= label_tag(:business_trip, "It's a business trip") %>

<%= check_box_tag(:beach) %>
<%= label_tag(:beach, "Going to the beach") %>

<%= check_box_tag(:nice_dinner) %>
<%= label_tag(:nice_dinner, "Going out to a nice dinner") %>

</div>


