<h1>Edit A Trip Mate!</h1>

<%= form_for(@person, url: "/persons/#{@person.id}") do |p| %>

  <div>
    <%=p.label :name %>
    <%=p.text_field :name %>
  </div>

   <div>
    <%=p.label :gender %>
    <%=p.text_field :gender %>
  </div>

   <div>
    <%=p.label :age %>
    <%=p.text_field :age %>
  </div>



<%= submit_tag "All Set!" %>

<%= link_to "Home", "/trips" %>

<%= link_to "Delete", "/persons/#{@person.id}", method: :delete, data:{confirm: "Are You Sure?"} %>

<% end %>