<h1>Joining you on this trip: </h1>

<h2>Name: <%= @person.name %></h2>
<h3>Gender: <%= @person.gender %></h3>
<h3>Age: <%= @person.age %></h3>
<h3>Email: <%= @person.email %></h3>
<%= link_to "Edit", "/persons/#{@person.id}/edit" %>
<%= link_to "Delete", "/persons/#{@person.id}", method: :delete, data:{confirm: "Are You Sure?"} %>

<hr>
<h3><a href="/trips/">Back To Your Trip</a></h3>