<h1>Joining you on this trip: </h1>

<h1>Name: <%= @person.name %></h1>
<h1>Gender: <%= @person.gender %></h3>
<h1>Age: <%= @person.age %></h3>

<a href="/persons/#{@person.id}/edit">Edit Trip Mate <span class="btn btn-default"></span></a>
<a href="/persons/new">Add New Trip Mate <span class="btn btn-default"></span></a>
<a href="/locations">That's Everybody <span class="btn btn-default"></span></a>
<hr>
<%= link_to "Home", "/persons" %>
<%= link_to "Delete", "/persons/#{@person.id}", method: :delete, data:{confirm: "Are You Sure?"} %>