<h1>Where are you going?</h1>

<div class="form-group">
  <%= label_tag :City %>
  <%= text_field_tag :City %>
</div>

<div class="form-group">
  <%= label_tag :State %>
  <%= text_field_tag :State %>
</div>

<div class="form-group">
  <%= label_tag :zip_code %>
  <%= text_field_tag :zip_code %>
</div>

<div class="form-group">
  <%= label_tag :Number_of_days_you_will_be_gone %>
  <%= text_field_tag :Number_of_days_you_will_be_gone %>
</div>

<!-- <div class="form-group">
  <%= label_tag :Start_Date %>
  <%= text_field_tag :Start_Date %>
</div> -->

<!-- <div class="form-group">
  <%= label_tag :End_Date %>
  <%= text_field_tag :End_Date %>
</div> -->

<!--<input type="text" name="daterange" value="01/01/2015 - 01/31/2015" />

<script type="text/javascript">
$(function() {
    $('input[name="daterange"]').daterangepicker();
});
</script>-->


<%= link_to "Home", "/persons" %>
<%= link_to "Add Special Plans", "/trip_situations" %>
<%= link_to "What Should I Pack?", "/clothing_selections?event_id=3" %>