<!DOCTYPE html>
<html>
<head>
  <title>PackingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert"><%=value%></div>
      <%end%>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand img-responsive" href="/"><%= image_tag('theme/logo.png') %></a>
        </div>

           <ul class="nav navbar-nav navbar-right">
              <% if creator_signed_in? %>
                <li> signed in: <%= current_creator.email %></li>
                  <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="/">Home</a></li>
                  <li class="active"><a href="/trips">Your Trips</a></li>
                  <li class="active"><a href="/trips/new">Add A New Trip</a></li>
          </ul>
              <% else %>
                <li><a href="/creators/sign_in">Sign In!</a></li>
                <li><a href="/creators/sign_up">Sign Up!</a></li> 
              <% end %>
              <li><%= link_to "Sign Out", "/creators/sign_out", method: :delete if creator_signed_in? %></li>
          </ul>
      </div>
    </div>



<div class='application'><%= yield %></div>

</body>
</html>
