<!DOCTYPE html>
<html>
<head>
  <title>PackingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= link_to "Log Out", "/creators/sign_out", method: :delete %>

<%= yield %>

</body>
</html>
