<!DOCTYPE html>
<html>
<head>
  <title>PackingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand img-responsive" href="/persons"><%= image_tag('theme/logo.png') %></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Your Trip <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/locations">Locations</a></li>
                  <li><a href="/persons">Your Trip Mates</a></li>
                  <li><a href="/persons/new">Add Someone New</a></li>
                  <li><a href="team.html">Team</a></li>
                  <li><a href="pricing.html">Pricing</a></li>
                  <li><a href="blog.html">Blog Loop</a></li>
                  <li><a href="blog-article.html">Blog Article</a></li>
                  <li><a href="login.html">Log In</a></li>
                  <li><a href="signup.html">Sign Up</a></li>
                  <li><a href="icons.html">Icons</a></li>
                </ul>
              </li>
            <li><a href="contact.php">Contact</a></li>
          </ul>
           <ul class="nav navbar-nav navbar-right">
              <% if creator_signed_in? %>
                <li> signed in: <%= current_creator.email %></li>
              <% else %>
                <li><a href="/creators/sign_in">Sign In!</a></li>
                <li><a href="/creators/sign_up">Sign Up!</a></li> 
              <% end %>
              <li><%= link_to "Sign Out", "/creators/sign_out", method: :delete if creator_signed_in? %></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>



<div class='application'><%= yield %></div>

</body>
</html>
