<!DOCTYPE html>
<html>
<head>
  <title>PackingApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

    <% if creator_signed_in? %>
      <li> signed in: <%= @creators %></li>
    <% else %>
      <li><a href="/creators/sign_in">Sign In!</a></li>
      <li><a href="/creators/sign_up">Sign Up!</a></li> 
    <% end %>
      <li><%= link_to "Sign Out", "/creators/sign_out", method: :delete if creator_signed_in? %></li>



<%= yield %>

</body>
</html>
